@use "./../../../../public/styles/colores.scss";
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#login-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    background-image: url(./../../../../public/images/h-fondo-cemento.jpeg);
    background-size: cover;
    min-height: 100vh;
}
#presentacion{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 60px;
    width: 750px;
    text-align: center;
    align-self: center;
    justify-content: center;
    color: colores.$color-texto-invertido;
    p{
        padding: 25px;
        color: colores.$color-texto-invertido;
    }
}
#motto-cochera{
    font-size: 20px;
    padding: 10px;
    color: colores.$color-texto-invertido;
}
#fondo{
    display:flex;
    flex-direction: row;
    margin: 25px 10px 25px 30px;
    background-color: colores.$color-principal-transparente;
    background-size: cover;
    border-radius: 50vh;
    height: 480px;
    width: 1200px;
    align-self: center;
}
#logo-ph{
    width: 100px;
    align-self: center;
}

#login-form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-weight: 400;
    color: colores.$color-texto-claro;
    justify-content: center;
    align-self: center;
    width: 250px;
}

.input{
    text-decoration: none;
    border-bottom: 1.5px solid colores.$color-texto-invertido;
    padding: 5px;
    gap: 10px;
    color: colores.$color-texto-claro;
}
label{
    padding: 3px 0px 10px;
    color: colores.$color-texto-invertido;
}
#mostrar-contraseña{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: baseline;
}
#boton-login{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 16px;
    padding: 5px;
    border: 1.5px colores.$color-texto-invertido solid;
    border-radius: 5px;
    width: 120px;
    margin: 30px 0px;
    color: colores.$color-texto-invertido;
    position: absolute;
    transform: translate(0, 120px);
    &:hover{
        background-color: colores.$color-texto-claro;
        color: colores.$color-principal;
    }
}

#mostrar-contraseña{
    padding: 10px;
}