//$color-principal:#5C6F82; //azul acero
$color-principal: #3b709c;
//#20384b;
$color-principal-transparente: rgba(32, 56, 74, 0.8);
$color-texto: #282b32;
$color-texto-invertido: #E9F1F4;    //hielo
$color-texto-claro: #bbc8d1;    //hielo grisaceo
$color-texto-importante: #5C6F82; //azul acero
$color-fondo-claro:#E9F1F4; //hielo
$color-fondo-oscuro: #101f2a;
$color-correcto: #9bd185;
$color-error: #cb5355 ;
//$color-boton-secundario: 
$color-acento: #3b709c;
$color-acento-claro: #6dbbce;
//$color-nombre-marca: 
$color-deshabilitado: #aaaba5;
$color-tabla: #808080      //gris